 {% load static %}
 <div class="footer">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-12 col-md-6" style="text-align: center;">
                 <div class="footer-widget">
                     <h2>Follow Us</h2>
                     <div class="contact-info">
                         <div class="social">
                             <a href=""><i class="fab fa-twitter"></i></a>
                             <a href=""><i class="fab fa-facebook-f"></i></a>
                             <a href=""><i class="fab fa-linkedin-in"></i></a>
                             <a href=""><i class="fab fa-instagram"></i></a>
                             <a href=""><i class="fab fa-youtube"></i></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

         <div class="row payment align-items-center">
             <div class="col-md-6">
                 <div class="payment-method">
                     <h2>We Accept:</h2>
                     <img src="{% static 'img/payment-method.png' %}" alt="Payment Method" />
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="payment-security">
                     <h2>Secured By:</h2>
                     <img src="{% static 'img/godaddy.svg' %}" alt="Payment Security" />
                     <img src="{% static 'img/norton.svg' %}" alt="Payment Security" />
                     <img src="{% static 'img/ssl.svg' %}" alt="Payment Security" />
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- Footer End -->

 <!-- Footer Bottom Start -->
 <div class="footer-bottom">
     <div class="container">
         <div class="row">
             <div class="col-md-6 copyright">
                 <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
             </div>

             <div class="col-md-6 template-by">
                 <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
             </div>
         </div>
     </div>
 </div>
 <!-- Footer Bottom End -->

 <!-- Back to Top -->
 <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


 