  <!-- Nav Bar Start -->
  {% load static %}
  <div class="nav">
      <div class="container-fluid">
          {% if page %}

          {% endif %}
          <nav class="navbar navbar-expand-md bg-dark navbar-dark">
              <a href="/" class="navbar-brand">MENU</a>
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                  <div class="navbar-nav mr-auto">
                      <a href="/" class="nav-item nav-link active">Home</a>
                      {% load mptt_tags %}
                      <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categorias</a>

                          <ul class="dropdown-menu">
                              {% recursetree category %}
                              <li>
                                  <a href="/category/{{node.id}}/{{node.slug}}" class="dropdown-item"
                                      {% if not node.is_leaf_node %}data-toggle="dropdown" aria-expanded="true"
                                      {% endif %}>{{node.title}} <i class="fa fa-angle-right"></i></a>

                                  {% if not node.is_leaf_node %}
                                  <ul class="list-links">
                                      <li><a href="#">{{children}}</a></li>
                                  </ul>
                                  {% endif %}

                              </li>
                              {% endrecursetree %}
                          </ul>
                      </div>
                      <a href="product-list.html" class="nav-item nav-link">Products</a>
                      <a href="product-detail.html" class="nav-item nav-link">Product Detail</a>
                      <a href="cart.html" class="nav-item nav-link">Cart</a>
                      <a href="#" class="nav-item nav-link">Checkout</a>
                      <a href="/faq" class="nav-item nav-link">FAQ</a>
                      <a href="my-account.html" class="nav-item nav-link">My Account</a>
                      <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                          <div class="dropdown-menu">
                              <a href="wishlist.html" class="dropdown-item">Wishlist</a>
                              <a href="/contact" class="dropdown-item">Contact</a>
                              <a href="/about" class="dropdown-item">About us</a>

                          </div>
                      </div>
                  </div>

                  <div class="navbar-nav ml-auto">

                      <div class="nav-item dropdown">
                          {% if user.id is not None %}
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ user.first_name }}</a>
                          <div class="dropdown-menu">
                              <a href="/profile" class="dropdown-item">Sua conta</a>
                              <a href="/logout" class="dropdown-item">Sair</a>

                          </div>
                          {% else %}
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sua conta</a>

                          {% endif %}
                          <div class="dropdown-menu">
                              <a href="/login" class="dropdown-item">Login</a>
                              <a href="/signup" class="dropdown-item">Register</a>
                          </div>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
  </div>
  <!-- Nav Bar End -->

  <!-- Bottom Bar Start -->
  <div class="bottom-bar">
      <div class="container-fluid">
          <div class="row align-items-center">
              <div class="col-md-3">
                  <div class="logo">
                      <a href="/">
                          <img src="{% static 'img/logo.png' %}" alt="Logo">
                      </a>
                  </div>
              </div>

              <script>
                  $(function () {
                      $("#query").autocomplete({
                          source: "/search_auto/",
                          select: function (event, ui) { //item selected
                              AutoCompleteSelectHandler(event, ui)
                          },
                          minLength: 2,
                      });
                  });

                  function AutoCompleteSelectHandler(event, ui) {
                      var selectedObj = ui.item;
                  }
              </script>


              <div class="col-md-6">
                  <div class="search">
                      <form action="/search/" method="post">
                          {% csrf_token %}
                          <input type="text" placeholder="Procure aqui..." name="query" id="query">
                          <button><i class="fa fa-search"></i></button>
                      </form>
                  </div>
              </div>

              <div class="col-md-3">
                  <div class="user">
                      <a href="wishlist.html" class="btn wishlist">
                          <i class="fa fa-heart"></i>
                          <span>(0)</span>
                      </a>
                      <a href="/shopcart/" class="btn cart">
                          <i class="fa fa-shopping-cart"></i>
                          <span>( {{total}} )</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Bottom Bar End -->