{% extends 'homebase.html' %}

{% block title %} Login - {{ setting.title  }} {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}
{% comment %} {% block slider  %} {% include 'slider.html' %} {% endblock  %} {% endcomment %}

{% block body  %} <div class="login">
    <div class="container-fluid">

        {% if messages %}
        {% for message in messages  %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% endif %}

        <div class="row">
            <div class="col-lg-12">

                <div class="login-form">
                    <form action="" method="POST">
                        <div class="row">

                            {% csrf_token %}
                            <div class="col-md-6">
                                <label>E-mail / Username</label>
                                <input class="form-control" name="username" type="text" placeholder="E-mail / Username">
                            </div>
                            <div class="col-md-6">
                                <label>Password</label>
                                <input class="form-control" name="password" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock  %}


{% block footer  %} {% include 'footer.html' %} {% endblock  %}