{% extends 'homebase.html' %}
{% load crispy_forms_tags %}

{% block title %} Registrar - {{ setting.title  }} {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}
{% comment %} {% block slider  %} {% include 'slider.html' %} {% endblock  %} {% endcomment %}

{% block body  %} <div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="register-form">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="row">
                        <form action="" method="post">
                            {% csrf_token %}

                            {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                            {% endfor %}
                            <div class="col-md-12">
                                <button class="btn" type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock  %}


{% block footer  %} {% include 'footer.html' %} {% endblock  %}