{% extends 'homebase.html' %}

{% block title %} {{ setting.title  }} {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}

{% block body  %}

<div class="tab-pane" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
    <table class="table table-bordered">

        <tr>
            <th>Id </th>
            <th>First Name </th>
            <th>Last Name </th>
            <th>Total </th>
            <th>Status </th>
            <th>Date </th>
            <th>Detail </th>
        </tr>
        {% for rs in orders %}
        <tr>
            <td>{{ rs.id}} </td>
            <td>{{ rs.first_name}} </td>
            <td>{{ rs.last_name}} </td>
            <td>{{ rs.total}} </td>
            <td>{{ rs.status}} </td>
            <td>{{ rs.created_at|date:"d M, Y"}} </td>
            <td><a class="primary-btn" href="/user/orderdetail/{{ rs.id }}"> Detail </a></td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock  %}


{% block footer  %} {% include 'footer.html' %} {% endblock  %}