{% extends 'homebase.html' %}

{% block title %} Detalhes da compra {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}


{% block body  %}
<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">

        <div class="col-md-9">
            <div class="order-summary clearfix">
                <div class="section-title">
                    <h3 class="title">Order Detail</h3>
                </div>
                <table class="shopping-cart-table table">
                    <tr>
                        <th class="text-left">Name Surname</th>
                        <td class="text-left">{{ order.first_name}} {{ order.last_name }} </td>
                    </tr>
                    <tr>
                        <th class="text-left">Phone</th>
                        <td class="text-left">{{ order.phone}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">Addres</th>
                        <td class="text-left">{{ order.address}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">City</th>
                        <td class="text-left">{{ order.city}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">Status</th>
                        <td class="text-left">{{ order.status}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">Date</th>
                        <td class="text-left">{{ order.created_at|date:"d M, Y"}}</td>
                    </tr>
                    <th class="text-left">Shipping Inf</th>
                    <td class="text-left">{{ order.adminnote}}</td>
                    </tr>
                </table>

                <div class="section-title">
                    <h4 class="title">Order Item List</h4>
                </div>

                <table class="shopping-cart-table table">
                    <tr>
                        <th class="text-left">Id </th>
                        <th class="text-left">Product Name </th>
                        <th class="text-left">Price </th>
                        <th class="text-left">Quantity </th>
                        <th class="text-left">Amount </th>
                        <th class="text-left">Status </th>
                        <th class="text-left">Date </th>
                    </tr>
                    {% for rs in order_items %}
                    <tr>
                        <td class="text-left">
                            <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                <img src="{{rs.product.image.url}}" alt="" style="height: 50px">
                            </a>
                        </td>
                        <td class="text-left">{{ rs.product.title}}</td>
                        <td class="text-left">{{ rs.price}} </td>
                        <td class="text-left">{{ rs.quantity}} </td>
                        <td class="text-left">{{ rs.amount}} </td>
                        <td class="text-left">{{ rs.status}} </td>
                        <td class="text-left">{{ rs.created_at|date:"d M, Y"}} </td>
                    </tr>
                    {% endfor %}

                </table>

            </div>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

{% endblock  %}


{% block footer  %} {% include 'footer.html' %} {% endblock  %}