{% extends 'homebase.html' %}

{% block title %} Meus comentários {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}


{% block body  %}
<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">

        <div class="col-md-12">
            <div class="order-summary clearfix">
                <div class="section-title">
                    <h3 class="title">Meus comentários</h3>
                </div>
                <table class="shopping-cart-table table">
                    <tr>
                        <th class="text-left">Product </th>
                        <th class="text-left">Rate </th>
                        <th class="text-left">Subject </th>
                        <th class="text-left">Comment </th>
                        <th class="text-left">Status </th>
                        <th class="text-left">Date </th>
                        <th class="text-left">Detail </th>
                    </tr>
                    {% for rs in comments %}
                    <tr>
                        <td class="text-left">
                            <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                <strong> {{ rs.product.title}}</strong>
                            </a>
                        </td>
                        <td class="text-left">{{ rs.rate}} </td>
                        <td class="text-left">{{ rs.subject}} </td>
                        <td class="text-left">{{ rs.comment}} </td>
                        <td class="text-left">{{ rs.status}} </td>
                        <td class="text-left">{{ rs.created_at|date:"D m, Y"}} </td>
                        <td class="text-left">
                            <a class="primary-btn" href="/user/deletecomment/{{ rs.id }}"
                                onclick="return confirm('Will be Delete ! Are you sure?')"> Delete </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

{% endblock  %}


{% block footer  %} {% include 'footer.html' %} {% endblock  %}