{% extends 'homebase.html' %}

{% block title %} Detalhes da compra {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}


{% block body  %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="order-summary clearfix">
                <div class="section-title">
                    <h3 class="title">Lista de produtos</h3>
                </div>

                <table class="shopping-cart-table table">
                    <tr>
                        <th class="text-left">Product</th>
                        <th class="text-left">Price </th>
                        <th class="text-left">Quantity </th>
                        <th class="text-left">Amount </th>
                        <th class="text-left">Status </th>
                        <th class="text-left">Date </th>
                        <th class="text-left">Detail </th>
                    </tr>
                    {% for rs in order_product %}
                    <tr>
                        <td class="text-left">
                            <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                <img src="{{rs.product.image.url}}" alt="" style="height: 80px">
                            </a>
                        </td>
                        <td class="text-left">{{ rs.price}} </td>
                        <td class="text-left">{{ rs.quantity}} </td>
                        <td class="text-left">{{ rs.amount}} </td>
                        <td class="text-left">{{ rs.status}} </td>
                        <td class="text-left">{{ rs.created_at|date:"d M, Y" }} </td>
                        <td class="text-left"><a class="primary-btn"
                                href="/user/order_product_detail/{{ rs.id }}/{{rs.order.id}}">
                                Detail </a></td>

                    </tr>
                    {% endfor %}

                </table>

            </div>
        </div>
    </div>
</div>
{% endblock  %}


{% block footer  %} {% include 'footer.html' %} {% endblock  %}