{% extends 'homebase.html' %}

{% block title %} {{ user.first_name }} Profile Update{% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}


<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">User Profile Update</li>
        </ul>
    </div>
</div>

<div class="section">
    <!-- container -->
    <div class="container">
        <div class="row">

            <div class="col-md-3">
            </div>

            <div class="col-md-9">
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">User Profile Update</h3>
                    </div>
                </div>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ user_form.as_p  }}
                        {{ profile_form.as_p  }}
                    </fieldset>
                    <div class="form-group">
                        <button class="primary-btn" type="submit">Update</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}