{% extends 'homebase.html' %}

{% block title %} {{ setting.title  }} {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}

{% block body  %}

<div class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-info">
                    {{setting.aboutus|safe}}
                </div>
            </div>
        </div>

    </div>
</div>
</div>


{% endblock  %}


{% block footer  %} {% include 'footer.html' %} {% endblock  %}