 {% extends 'homebase.html' %}

 {% block title %} {{ setting.title  }} {% endblock  %}
 {% block description %} {{ setting.description }} {% endblock  %}
 {% block keywords %} {{ setting.keywords }} {% endblock  %}

 {% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}
 {% comment %} {% block slider  %} {% include 'slider.html' %} {% endblock  %} {% endcomment %}

 {% block body  %}
 <!-- Product List Start -->
 <div class="product-view">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-8">
                 <div class="row">
                     <div class="col-md-12">
                         <div class="product-view-top">
                             <div class="row">
                                 <div class="col-md-4">
                                     <div class="product-search">
                                         <input type="email" value="Search">
                                         <button><i class="fa fa-search"></i></button>
                                     </div>
                                 </div>
                                 <div class="col-md-4">
                                     <div class="product-short">
                                         <div class="dropdown">
                                             <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                             <div class="dropdown-menu dropdown-menu-right">
                                                 <a href="#" class="dropdown-item">Newest</a>
                                                 <a href="#" class="dropdown-item">Popular</a>
                                                 <a href="#" class="dropdown-item">Most sale</a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-4">
                                     <div class="product-price-range">
                                         <div class="dropdown">
                                             <div class="dropdown-toggle" data-toggle="dropdown">Product price range
                                             </div>
                                             <div class="dropdown-menu dropdown-menu-right">
                                                 <a href="#" class="dropdown-item">$0 to $50</a>
                                                 <a href="#" class="dropdown-item">$51 to $100</a>
                                                 <a href="#" class="dropdown-item">$101 to $150</a>
                                                 <a href="#" class="dropdown-item">$151 to $200</a>
                                                 <a href="#" class="dropdown-item">$201 to $250</a>
                                                 <a href="#" class="dropdown-item">$251 to $300</a>
                                                 <a href="#" class="dropdown-item">$301 to $350</a>
                                                 <a href="#" class="dropdown-item">$351 to $400</a>
                                                 <a href="#" class="dropdown-item">$401 to $450</a>
                                                 <a href="#" class="dropdown-item">$451 to $500</a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>


                     {% for product in products %}
                     <div class="col-md-6">
                         <div class="product-item">
                             <div class="product-title">
                                 <a href="/product/{{product.id}}/{{product.slug}}">{{product.title}}</a>
                                 <div class="ratting">
                                     <i class="fa fa-star{% if product.avaregereview < 1%}--o empty{% endif %}"></i>
                                     <i class="fa fa-star{% if product.avaregereview < 2%}--o empty{% endif %}"></i>
                                     <i class="fa fa-star{% if product.avaregereview < 3%}--o empty{% endif %}"></i>
                                     <i class="fa fa-star{% if product.avaregereview < 4%}--o empty{% endif %}"></i>
                                     <i class="fa fa-star{% if product.avaregereview < 5%}--o empty{% endif %}"></i>
                                     {{product.avaregereview|stringformat:".2f" }}
                                 </div>
                             </div>
                             <div class="product-image">
                                 <a href="product-detail.html">
                                     <img src="{{product.image.url}}" alt="Product Image" style="height: 300px">
                                 </a>
                                 <div class="product-action">
                                     <a href="#"><i class="fa fa-cart-plus"></i></a>
                                     <a href="#"><i class="fa fa-heart"></i></a>
                                     <a href="#"><i class="fa fa-search"></i></a>
                                 </div>
                             </div>
                             <div class="product-price">
                                 <h3><span>R$</span>{{product.price}}</h3>
                                 <a class="btn" href="/order/addtoshopcart/{{product.id}}"><i
                                         class="fa fa-shopping-cart"></i>Compre</a>
                             </div>
                         </div>
                     </div>
                     {% endfor %}
                 </div>
                 {% comment %}
                 <!-- Pagination Start -->
                 <div class="col-md-12">
                     <nav aria-label="Page navigation example">
                         <ul class="pagination justify-content-center">
                             <li class="page-item disabled">
                                 <a class="page-link" href="#" tabindex="-1">Previous</a>
                             </li>
                             <li class="page-item active"><a class="page-link" href="#">1</a></li>
                             <li class="page-item"><a class="page-link" href="#">2</a></li>
                             <li class="page-item"><a class="page-link" href="#">3</a></li>
                             <li class="page-item">
                                 <a class="page-link" href="#">Next</a>
                             </li>
                         </ul>
                     </nav>
                 </div>
                 <!-- Pagination Start --> {% endcomment %}
             </div>

             <!-- Side Bar Start -->
             <div class="col-lg-4 sidebar">
                 <div class="sidebar-widget category">
                     <h2 class="title">Todas categorias</h2>
                     <nav class="navbar bg-light">
                         <ul class="navbar-nav">
                             {% load mptt_tags %}
                             {% recursetree category %}
                             <li class="nav-item">
                                 <a class="nav-link" href="/category/{{node.id}}/{{node.slug}}">{{node.title}}</a>

                                 {% if not node.is_leaf_node %}
                                 <ul class="list-links">
                                     <li><a href="/category/{{node.id}}/{{node.slug}}">{{children}}</a></li>
                                 </ul>
                                 {% endif %}
                             </li>
                             {% endrecursetree %}
                         </ul>
                     </nav>
                 </div>

                 <div class="sidebar-widget widget-slider">
                     <div class="sidebar-slider normal-slider">
                         {% for product in product_latest %}
                         <div class="product-item">
                             <div class="product-title">
                                 <a href="#">{{product.title}}</a>
                                 <div class="ratting">
                                     <i class="fa fa-star{% if product.avaregereview < 1%}--o empty{% endif %}"></i>
                                     <i class="fa fa-star{% if product.avaregereview < 2%}--o empty{% endif %}"></i>
                                     <i class="fa fa-star{% if product.avaregereview < 3%}--o empty{% endif %}"></i>
                                     <i class="fa fa-star{% if product.avaregereview < 4%}--o empty{% endif %}"></i>
                                     <i class="fa fa-star{% if product.avaregereview < 5%}--o empty{% endif %}"></i>
                                     {{product.avaregereview|stringformat:".2f" }}
                                 </div>
                             </div>
                             <div class="product-image">
                                 <a href="product-detail.html">
                                     <img src="{{product.image.url}}" alt="Product Image" style="height: 500px">
                                 </a>
                                 <div class="product-action">
                                     <a href="/order/addtoshopcart/{{product.id}}"><i class="fa fa-cart-plus"></i></a>
                                     <a href="#"><i class="fa fa-heart"></i></a>
                                     <a href="#"><i class="fa fa-search"></i></a>
                                 </div>
                             </div>
                             <div class="product-price">
                                 <h3><span>R$</span>{{product.price}}</h3>
                                 <a class="btn" href="/order/addtoshopcart/{{product.id}}"><i
                                         class="fa fa-shopping-cart"></i>Compre agora</a>
                             </div>
                         </div>
                         {% endfor %}
                     </div>
                 </div>


             </div>

             <!-- Side Bar End -->
         </div>
     </div>
 </div>
 <!-- Product List End -->
 {% endblock  %}


 {% block footer  %} {% include 'footer.html' %} {% endblock  %}