{% extends 'homebase.html' %}
{% load crispy_forms_tags %}


{% block title %} {{ setting.title  }} {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}
{% comment %} {% block slider  %} {% include 'slider.html' %} {% endblock  %} {% endcomment %}

{% block body  %}

<!-- Contact Start -->
<div class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info">
                    <h2>{{setting.title}}</h2>
                    <h3><i class="fa fa-map-marker"></i> {{setting.address}} </h3>
                    <h3><i class="fa fa-envelope"></i> {{setting.email}} </h3>
                    <h3><i class="fa fa-phone"></i> {{setting.phone}} </h3>
                    <div class="social">
                        {% comment %} <a href=""><i class="fab fa-twitter"></i></a> {% endcomment %}
                        <a href="{{setting.facebook}}"><i class="fab fa-facebook-f"></i></a>
                        <a href="{{setting.whatsapp}}"><i class="fab fa-whatsapp"></i></a>
                        <a href="{{setting.instagram}}"><i class="fab fa-instagram"></i></a>
                        {% comment %} <a href=""><i class="fab fa-youtube"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="contact-form">
                    <form method="POST">
                        {% csrf_token %}
                        <h2>Contate-nos</h2>

                        {% if messages %}
                        {% for message in messages  %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}

                        {% endif %}

                        <div class="row">
                            <div class="col-md-6">
                                {{form.name|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{form.email|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{form.subject|as_crispy_field}}
                        </div>
                        <div class="form-group">
                            {{form.message|as_crispy_field}}
                        </div>
                        <div><button class="btn" type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="contact-map">
                    <iframe
                        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=S%C3%A3o%20Paulo+(Localiza%C3%A7%C3%A3o)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


{% endblock  %}




{% block footer  %} {% include 'footer.html' %} {% endblock  %}