{% extends 'homebase.html' %}

{% block title %} Perguntas frequentes {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}
{% comment %} {% block slider  %} {% include 'slider.html' %} {% endblock  %} {% endcomment %}
{% block head %}
<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>

{% endblock %}
{% block body  %}
<!-- section -->

<div class="section">
    <!-- container -->

    <div class="container">
        <!-- row -->
        <h1>Perguntas frequentes</h1>
        <div class="row">

            <div id="accordion">

                {% for rs in faq %}
                <h3>{{ rs.question }}</h3>
                <div>
                    <p>
                        {{ rs.answer | safe }}
                    </p>
                </div>
                {% endfor %}
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->{% endblock  %}


{% block footer  %} {% include 'footer.html' %} {% endblock  %}