{% extends 'homebase.html' %}

{% block title %} {{ product.title  }} {% endblock  %}
{% block description %} {{ product.description }} {% endblock  %}
{% block keywords %} {{ product.keywords }} {% endblock  %}
{% block head %}
<script src="/static/js/jquery-2.2.4.min.js"></script>
{% endblock %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}

{% block body  %}

<!-- Product Detail Start -->
<div class="product-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-detail-top">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="product-slider-single normal-slider">
                                {% for image in images %}
                                <img src="{{image.image.url}}" alt="Product Image">
                                {% endfor %}

                            </div>
                            <div class="product-slider-single-nav">
                                {% for image in images %}
                                <div class="slider-nav-img"><img src="{{image.image.url}}" alt="Product Image"></div>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="product-content">
                                <div class="title">
                                    <h2>{{product.title}}</h2>
                                </div>
                                <div class="ratting">
                                    <i class="fa fa-star{% if product.avaregereview < 1%}--o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if product.avaregereview < 2%}--o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if product.avaregereview < 3%}--o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if product.avaregereview < 4%}--o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if product.avaregereview < 5%}--o empty{% endif %}"></i>
                                    {{product.avaregereview|stringformat:".2f" }}
                                </div>
                                <div class="price">
                                    <h4>Price:</h4>
                                    <p>R${{product.price}} <span>R$149</span></p>
                                </div>

                                <script>
                                    $(document).on('change', '#post-form', function (e) {
                                        e.preventDefault();
                                        $.ajax({
                                            type: 'POST',
                                            url: '{% url "ajaxcolor" %}',
                                            data: {
                                                productid: $('#productid').val(),
                                                size: $('#size').val(),
                                                csrfmiddlewaretoken: $(
                                                    'input[name=csrfmiddlewaretoken]').val(),
                                                action: 'post'
                                            },
                                            data_type: 'html',
                                            success: function (data) {
                                                console.log("success");
                                                $('#appendHere').html(data.rendered_table);
                                            },
                                            error: function (data) {
                                                alert("Got an error dude " + data);
                                            }
                                        });
                                    });
                                </script>

                                <div class="product-btns">
                                    {% if product.variant == 'Size-Color' %}

                                    <div class="product-options">
                                        <div class="size-option">
                                            <form method="POST" id="post-form">
                                                <input type="hidden" name="productid" id="productid"
                                                    value="{{ product.id }}">
                                                <span class="text-uppercase">Size :</span>
                                                {% csrf_token %}
                                                <select name="size" id="size">
                                                    {% for rs in sizes %}
                                                    <option {% if variant.size_id == rs.size_id %} selected {% endif %}
                                                        value="{{ rs.size_id }}">{{ rs.size.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </form>
                                        </div>

                                        <form method="post" action="?q=selectvariant" id="post-color">
                                            {% csrf_token %}
                                            <div id="appendHere">
                                                <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                                <ul class="color-option">
                                                    <li><span class="text-uppercase">Color:</span></li>
                                                    {% for rs in colors %}
                                                    <input type="radio" {% if variant.id == rs.id %} checked {% endif %}
                                                        name="variantid" id="variantid" value="{{ rs.id }}"
                                                        onchange="this.form.submit();">
                                                    <li {% if variant.id == rs.id %} class="active" {% endif %}>
                                                        <a
                                                            style="background-color:{{ rs.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                                                            {% comment %}
                                                            {{ rs.price|currency:request.session.currency }}
                                                            {% endcomment %}
                                                            {{ request.session.currency }} {{ rs.color }}
                                                        </a>
                                                        <img src="{{ rs.image }}" style="height: 70px">
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </form>
                                    </div>


                                    {% elif product.variant == 'Size' %}
                                    <form method="post" action="?q=selectvariant" id="post-color">
                                        {% csrf_token %}
                                        <div id="appendHere">
                                            <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                            <ul class="color-option">
                                                <li><span class="text-uppercase">Size:</span></li>
                                                {% for rs in sizes %}
                                                <input type="radio" {% if variant.id == rs.id %} checked {% endif %}
                                                    name="variantid" id="variantid" value="{{ rs.id }}"
                                                    onchange="this.form.submit();">
                                                <li {% if variant.id == rs.id %} class="active" {% endif %}>
                                                    <a style=" color: #204d74;  width: 90px">
                                                        ${{ rs.size }}<br>
                                                        {% comment %} {{ rs.price|currency:request.session.currency }}
                                                        {% endcomment %}
                                                        {{ request.session.currency }}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </form>
                                    <br><br>

                                    {% elif product.variant == 'Color' %}
                                    <form method="post" action="?q=selectvariant" id="post-color">
                                        {% csrf_token %}
                                        <div id="appendHere">
                                            <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                            <ul class="color-option">
                                                <li><span class="text-uppercase">Color:</span></li>
                                                {% for rs in colors %}
                                                <input type="radio" {% if variant.id == rs.id %} checked {% endif %}
                                                    name="variantid" id="variantid" value="{{ rs.id }}"
                                                    onchange="this.form.submit();">
                                                <li {% if variant.id == rs.id %} class="active" {% endif %}>
                                                    <a
                                                        style="background-color:{{ rs.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                                                        {% comment %} {{ rs.price|currency:request.session.currency }}
                                                        {% endcomment %}
                                                        {{ request.session.currency }} {{ rs.color }}
                                                    </a>
                                                    <img src="{{ rs.image }}" style="height: 70px">
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                    </form>
                                </div>
                                {% endif %}

                                {% if  product.variant != 'None'   %}
                                <form action="/order/addtoshopcart/{{ product.id }}" method="post" id="addchart-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="variantid" id="variantid" value="{{ variant.id }}">
                                    <div id="SelectedProduct">
                                        <p><strong>Availability:</strong> {% if variant.quantity > 0  %} In Stock
                                            {% else %} Out of Stock {% endif %}</p>
                                        <p><strong>Selected :</strong> Size : {{ variant.size }} Color :
                                            {{ variant.color }} </p>
                                        <h3 class="product-price">${{ variant.price}}</h3>
                                        <div class="qty-input">
                                            <span class="text-uppercase">QTY: </span>
                                            <input class="input" name="quantity" type="number" value="1" min="1"
                                                max="{{ variant.quantity }}">
                                            <button type="submit" {% if variant.quantity < 1  %} disabled {% endif %}
                                                class="primary-btn add-to-cart">
                                                <i class="fa fa-shopping-cart"></i> Add to Cart
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                {% else %}

                                <form action="/order/addtoshopcart/{{ product.id }}" method="post" id="addchart-form">
                                    {% csrf_token %}
                                    <div id="SelectedProduct">
                                        <p><strong>Availability:</strong> {% if product.amount > 0  %} In Stock
                                            {% else %} Out of Stock {% endif %}</p>
                                        <h3 class="product-price">
                                            {% comment %} {{ product.price|currency:request.session.currency }}
                                            {% endcomment %}
                                            {{ request.session.currency }}</h3>
                                        <div class="qty-input">
                                            <span class="text-uppercase">QTY: </span>
                                            <input class="input" name="quantity" type="number" value="1" min="1"
                                                max="{{ product.amount }}">
                                            <button type="submit" {% if product.amount < 1  %} disabled {% endif %}
                                                class="primary-btn add-to-cart">
                                                <i class="fa fa-shopping-cart"></i> Add to Cart
                                            </button>
                                        </div>
                                    </div>
                                </form>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row product-detail-bottom">
                <div class="col-lg-12">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#specification">Specification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#reviews"> {{product.countreview}}
                                Review(s) </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="description" class="container tab-pane active">
                            <h4>Product description</h4>
                            <p>
                                {{product.detail|safe}}
                            </p>
                        </div>
                        <div id="specification" class="container tab-pane fade">
                            <h4>Product specification</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                            </ul>
                        </div>
                        <div id="reviews" class="container tab-pane fade">
                            {% for rs in comment %}
                            <div class="reviews-submitted">
                                <div class="reviewer">{{rs.user.first_name}} - <span>{{rs.created_at}}</span></div>
                                <div class="reviewer">{{rs.subject}}</span></div>
                                <div class="ratting">
                                    <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                </div>
                                <p>
                                    {{rs.comment}}
                                </p>
                            </div>
                            {% endfor %}


                            <div class="reviews-submit">

                                {% if messages %}
                                {% for message in messages  %}
                                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endfor %}

                                {% endif %}

                                <form action="/product/addcomment/{{product.id}}" class="row form" method="POST">
                                    {% csrf_token %}


                                    <div class="col-sm-12">
                                        <input type="text" name="subject" class="input" placeholder="Avaliação">
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea name="comment" class="input" placeholder="Avaliação"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-rating">
                                            <strong class="text-uppercase">Your Rating: </strong>
                                            <fieldset class="rating">
                                                <legend>Please rate:</legend>
                                                <input type="radio" id="star5" name="rate" value="5" /><label
                                                    for="star5" title="Rocks!">1 stars</label>
                                                <input type="radio" id="star4" name="rate" value="4" /><label
                                                    for="star4" title="Pretty good">2 stars</label>
                                                <input type="radio" id="star3" name="rate" value="3" /><label
                                                    for="star3" title="Meh">3 stars</label>
                                                <input type="radio" id="star2" name="rate" value="2" /><label
                                                    for="star2" title="Kinda bad">4 stars</label>
                                                <input type="radio" id="star1" name="rate" value="1" /><label
                                                    for="star1" title="Sucks big time">5 star</label>
                                            </fieldset>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        {% if user.id is not None %}
                                        <button type="submit">Enviar</button>
                                        {% else %}
                                        Você precisa estar logado para fazer uma avaliação
                                        {% endif %}
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side Bar Start -->
        <div class="col-lg-4 sidebar">
            <div class="sidebar-widget widget-slider">
                <div class="sidebar-slider normal-slider">
                    {% for product in product_latest %}
                    <div class="product-item">
                        <div class="product-title">
                            <a href="/product/{{product.id}}/{{product.slug}}">{{product.title}}</a>
                            <div class="ratting">
                                <i class="fa fa-star{% if product.avaregereview < 1%}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if product.avaregereview < 2%}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if product.avaregereview < 3%}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if product.avaregereview < 4%}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if product.avaregereview < 5%}-o empty{% endif %}"></i>
                                {{product.avaregereview|stringformat:".2f" }}
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <img src="{{product.image.url}}" alt="Product Image">
                            </a>
                            <div class="product-action">
                                <a class="btn" href="/order/addtoshopcart/{{product.id}}"><i
                                        class="fa fa-shopping-cart"></i>Compre</a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3><span>R$</span>{{product.price}}</h3>
                            <a class="btn" href="/order/addtoshopcart/{{product.id}}"><i
                                    class="fa fa-shopping-cart"></i>Compre Agora</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Side Bar End -->
    </div>
</div>
</div>
<!-- Product Detail End -->
{% endblock  %}


{% block footer  %} {% include 'footer.html' %} {% endblock  %}