 {% extends 'homebase.html' %}

 {% block title %} {{ query  }} - Resultados {% endblock  %}
 {% block description %} {{ setting.description }} {% endblock  %}
 {% block keywords %} {{ setting.keywords }} {% endblock  %}

 {% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}
 {% comment %} {% block slider  %} {% include 'slider.html' %} {% endblock  %} {% endcomment %}

 {% block body  %}
 <!-- Product List Start -->
 <div class="product-view">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-8">
                 <div class="row">

                     {% for product in products %}
                     <div class="col-md-6">
                         <div class="product-item">
                             <div class="product-title">
                                 <a href="/product/{{product.id}}/{{product.slug}}">{{product.title}}</a>
                                 <div class="ratting">
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                 </div>
                             </div>
                             <div class="product-image">
                                 <a href="/product/{{product.id}}/{{product.slug}}">
                                     <img src="{{product.image.url}}" alt="Product Image" style="height: 300px">
                                 </a>
                                 <div class="product-action">
                                     <a href="/order/addtoshopcart/{{product.id}}"><i class="fa fa-cart-plus"></i></a>
                                     <a href="#"><i class="fa fa-heart"></i></a>
                                     <a href="#"><i class="fa fa-search"></i></a>
                                 </div>
                             </div>
                             <div class="product-price">
                                 <h3><span>R$</span>{{product.price}}</h3>
                                 <a class="btn" href="/order/addtoshopcart/{{product.id}}"><i
                                         class="fa fa-shopping-cart"></i>Compre</a>
                             </div>
                         </div>
                     </div>
                     {% endfor %}
                 </div>
             </div>

             <!-- Side Bar Start -->
             <div class="col-lg-4 sidebar">
                 <div class="sidebar-widget category">
                     <h2 class="title">Todas categorias</h2>
                     <nav class="navbar bg-light">
                         <ul class="navbar-nav">
                             {% load mptt_tags %}
                             {% recursetree category %}
                             <li class="nav-item">
                                 <a class="nav-link" href="/category/{{node.id}}/{{node.slug}}">{{node.title}}</a>

                                 {% if not node.is_leaf_node %}
                                 <ul class="list-links">
                                     <li><a href="/category/{{node.id}}/{{node.slug}}">{{children}}</a></li>
                                 </ul>
                                 {% endif %}
                             </li>
                             {% endrecursetree %}
                         </ul>
                     </nav>
                 </div>

                 {% comment %} <div class="sidebar-widget widget-slider">
                     <div class="sidebar-slider normal-slider">
                         {% for product in product_latest %}
                         <div class="product-item">
                             <div class="product-title">
                                 <a href="#">{{product.title}}</a>
                                 <div class="ratting">
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                 </div>
                             </div>
                             <div class="product-image">
                                 <a href="product-detail.html">
                                     <img src="{{product.image.url}}" alt="Product Image" style="height: 500px">
                                 </a>
                                 <div class="product-action">
                                     <a href="/addtocar/{{product.id}}"><i class="fa fa-cart-plus"></i></a>
                                     <a href="#"><i class="fa fa-heart"></i></a>
                                     <a href="#"><i class="fa fa-search"></i></a>
                                 </div>
                             </div>
                             <div class="product-price">
                                 <h3><span>R$</span>{{product.price}}</h3>
                                 <a class="btn" href="/addtocar/{{product.id}}"><i
                                         class="fa fa-shopping-cart"></i>Compre agora</a>
                             </div>
                         </div>
                         {% endfor %}
                     </div>
                 </div> {% endcomment %}


             </div>

             <!-- Side Bar End -->
         </div>
     </div>
 </div>
 <!-- Product List End -->
 {% endblock  %}


 {% block footer  %} {% include 'footer.html' %} {% endblock  %}