  <form action="/order/addtoshopcart/{{product.id}}" method="post" id="post-form">
      {% csrf_token %}
      <input type="hidden" name="productid" id="productid" value="{{ product.id }}">
      <div class="quantity">
          {% if product.variant == 'None' %}
          <div class="qty-input">
              <span class="text-uppercase">Quantidade: </span>
              <input class="input" name="quantity" type="number" value="1" min="1" max="{{ product.amount }}">
              <button type="submit" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                  Cart</button>
          </div>
          {% comment %} <h4>Quantity:</h4>
          <input class="input" name="quantity" type="number" step="1" min="1" max="{{ product.amount }}" value="1" />
          <button class="btn" type="submit">
              <i class="fa fa-shopping-cart"> </i> </button> {% endcomment %}
      </div>
      {% elif product.variant == 'Size-Color' %}
      <div class="product-options">
          <div class="size-option">
              <span class="text-uppercase">Size :</span>
              <select name="size" id="size">
                  {% for rs in size %}
                  <option value="{{ rs.size_id }}">{{ rs.size.name }}</option>
                  {% endfor %}
              </select>
          </div>


          <ul class="color-option">
              <li><span class="text-uppercase">Color:</span></li>
              {% for rs in color %}
              <input type="radio" name="color" value="{{ rs.id }}">
              <li>
                  <a href="#"
                      style="background-color:{{ rs.color.code }}; color: #ffffff; text-shadow: 2px 2px #000000; width: 70px">
                      {{ rs.color }} ${{ rs.price }}
                  </a>
                  <img src="{{ rs.image }}" style="height: 70px">

              </li>
              {% endfor %}
          </ul>

          <p><strong>Availability:</strong> In Stock</p>
          <div class="qty-input">
              <span class="text-uppercase">QTY: </span>
              <input class="input" name="quantity" type="number" value="1" min="1" max="{{ product.amount }}">
              <button type="submit" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                  Cart</button>
          </div>
      </div>


      {% comment %}
      <div class="p-size">
          <h4>Size:</h4>
          <div class="btn-group btn-group-sm">
              <button type="button" class="btn">S</button>
              <button type="button" class="btn">M</button>
              <button type="button" class="btn">L</button>
              <button type="button" class="btn">XL</button>
          </div>
      </div>
      <div class="p-color">
          <h4>Color:</h4>
          <div class="btn-group btn-group-sm">
              <button type="button" class="btn">White</button>
              <button type="button" class="btn">Black</button>
              <button type="button" class="btn">Blue</button>
          </div>
      </div> {% endcomment %}
      <div class="action">

          <a class="btn" href="#"><i class="fa fa-shopping-bag"></i>Quantidade</a>
      </div>
      {% endif %}
  </form>