{% extends 'homebase.html' %}

{% block title %} Shopcart {% endblock  %}
{% block description %} {{ setting.description }} {% endblock  %}
{% block keywords %} {{ setting.keywords }} {% endblock  %}

{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}
{% comment %} {% block slider  %} {% include 'slider.html' %} {% endblock  %} {% endcomment %}

{% block body  %}

<!-- Wishlist Start -->
<div class="wishlist-page">
    <div class="container-fluid">
        <div class="wishlist-page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Produto</th>
                                    <th>Preço</th>
                                    <th>Quantidade</th>
                                    <th>Total</th>
                                    <th>Remover</th>

                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                {% for shop in shopcart %}
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="#"><img src="{{shop.product.image.url}}" alt="Image"></a>
                                            <p> {{shop.product}} </p>
                                        </div>
                                    </td>
                                    <td>{{shop.product.price}}</td>
                                    <td>
                    
                                        <strong>{{shop.quantity}}</strong>
                                    </td>
                                    <td>
                                        <strong>{{shop.amount}}</strong>
                                    </td>

                                    <td>
                                        <a href="/order/deletefromcart/{{ shop.id }}"
                                            onclick="return confirm('Delete ! Are you sure?')">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>


                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>

                                    <th class="empty" colspan="3">Total</th>
                                    <th> {{total}} </th>
                                    {% comment %} <th class="empty" colspan="3"></th> {% endcomment %}
                                </tr>
                            </tfoot>
                        </table>
                        <p> {{shopcart.quantity}} </p>
                        {% if total > 0 %}
                        <a href="/order/orderproduct" class="primary-btn"> Place Order </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wishlist End -->

{% endblock  %}


{% block footer  %} {% include 'footer.html' %} {% endblock  %}